body,
td,
input {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
}
h1,
h2,
h3 {
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.hidden {
	display: none;
}
#loading {
	margin: 3em;
}
#loading > h1 {
	vertical-align: center;
	line-height: 64px;
}
#loading > img {
	float: left;
	margin-right: 2em;
}
#main {
	max-width: 1024px;
	margin: 0 auto;
}
#main > h1 {
	text-align: center;
	font-size: 48px;
}
#intro > #and {
	text-align: center;
	font-size: larger;
	font-weight: bold;
}
#intro > #iphone {
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
}
#daysleft {
	text-align: center;
	margin: 3em;
	font-weight: bold;
}
img#loser {
	float: left;
	height: 100px;
}
img#winner {
	float: right;
	height: 100px;
}
#progress #bar {
	background-color: teal;
	width: 300px;
	height: 100px;
	display: inline-block;
	text-align: center;
	color: white;
	line-height: 100px;
}
